/*
*
* パスワード変更関連のスタイルを記入
*
*/

.header {
	width	: 100%;
}

.body {
	margin-left: auto;
	margin-right: auto;
}

.green1 {
	background-color			: #BCE6BE !important;	/* 通常の緑 */
}

.green2 {
	background-color			: #ECFAED !important;	/* 薄目の緑 */
}