# 除外するソース

# work 配下をすべて除外
work/**
# ただし work フォルダ自体は除外しない
!work/
!work/.gitkeep

# classes 配下をすべて除外
WEB-INF/classes/**
# ただし classes フォルダ自体は除外しない
!WEB-INF/classes/
!WEB-INF/classes/.gitkeep

# lib 配下をすべて除外
WEB-INF/lib/**
# ただし lib フォルダ自体と TJSJavaFramework.jar は除外しない
!WEB-INF/lib/
!WEB-INF/lib/TJSJavaFramework.jar