/*
*
* 出勤簿入力画面のスタイルを記入
*
*/

/*
*
* 画面項目の余白
*
*/
.box{
	margin-bottom: 10px;
}

/*
*
* 曜日の色
*
*/
.sat{
	color: #0000ff;
}
.sun{
	color: #ff0000;
}

/*
*
* 画面内の表で横スクロールできるよう設定
*
*/
.shukkinboArea{
	overflow: auto;
}
