/*
*
* 出勤簿入力画面のスタイルを記入
*
*/

/*
*
* 画面項目の余白
*
*/
.box{
	margin-bottom: 10px;
}

/*
*
* 曜日の色
*
*/
.sat{
	color: #0000ff;
}
.sun{
	color: #ff0000;
}

/*
*
* 画面内の表で横スクロールできるよう設定
*
*/
.shukkinboArea{
	overflow: auto;
}

.w10 { min-width: 10px !important; max-width: 10px !important; }
.w15 { min-width: 15px !important; max-width: 15px !important; }
.w20 { min-width: 20px !important; max-width: 20px !important; }
.w25 { min-width: 25px !important; max-width: 25px !important; }
.w30 { min-width: 30px !important; max-width: 30px !important; }
.w40 { min-width: 40px !important; max-width: 40px !important; }
.w45 { min-width: 45px !important; max-width: 45px !important; }


/*
.kinShukkinBoText{
	font-size: 80% !important;
}
*/

.kaishishuryoTextBox{
	/*
	width: 15px;
	*/
	width: 20px;
	text-align: right;
}
.jikanTextBox{
	/*
	width: 30px;
	*/
	width: 50px;
	text-align: right;
}
.bikoTextBox{
	/*
	width: 125px;
	*/
	width: 160px;
}
